<%= form_for(@cafephoto) do |f| %>
  <% if @cafephoto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cafephoto.errors.count, "error") %> prohibited this cafephoto from being saved:</h2>

      <ul>
      <% @cafephoto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cafe_id %><br>
    <%= f.number_field :cafe_id %>
  </div>
  <div class="field">
    <%= f.label :photourl %><br>
    <%= f.text_field :photourl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
