<%= form_for(@cafefeature) do |f| %>
  <% if @cafefeature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cafefeature.errors.count, "error") %> prohibited this cafefeature from being saved:</h2>

      <ul>
      <% @cafefeature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cafe_id %><br>
    <%= f.number_field :cafe_id %>
  </div>
  <div class="field">
    <%= f.label :featurename %><br>
    <%= f.text_field :featurename %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
