<p id="notice"><%= notice %></p>

<h1>Listing Cafefeatures</h1>

<table>
  <thead>
    <tr>
      <th>Cafe</th>
      <th>Featurename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cafefeatures.each do |cafefeature| %>
      <tr>
        <td><%= cafefeature.cafe_id %></td>
        <td><%= cafefeature.featurename %></td>
        <td><%= link_to 'Show', cafefeature %></td>
        <td><%= link_to 'Edit', edit_cafefeature_path(cafefeature) %></td>
        <td><%= link_to 'Destroy', cafefeature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cafefeature', new_cafefeature_path %>
