<%= form_for(@wishlistedcafe) do |f| %>
  <% if @wishlistedcafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wishlistedcafe.errors.count, "error") %> prohibited this wishlistedcafe from being saved:</h2>

      <ul>
      <% @wishlistedcafe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :cafe_id %><br>
    <%= f.number_field :cafe_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
